#error-page {
  margin: 3vw;
  text-align: center;
  margin-top: 10vw;
}

.error-title {
  color: #55b1a3;
  font-weight: bold;
  font-size: 2.5vw;
}

.error-thank {
  font-size: 1.5vw;
  margin: 3vw;
  color: #55b1a3;
  font-weight: bold;
}
#header-logo img {
  height: 20vh;
  text-align: center;
}

#header-logo img:hover {
  background-color: #dadada;
  border-radius: 3em;
  padding: 1vw;
}

#error-page label {
  text-align: left;
}
.error-content {
  margin: 3vw 10vw 0 10vw;
  line-height: 2vw;
  font-size: 1vw;
}

@media (max-width: 800px) {
  .error-content {
    line-height: 5vw;
    font-size: 0.3vw;
  }

  #header-logo img {
    height: 10vh;
    text-align: center;
  }
}
