<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findinfo</title>
</head>

<body>
    <div id="popup-container">
        <form id="find-password-container">
            <div id="find-password-title">Find Your Password</div>
            <label for="find-input-id">USER ID</label>
            <input type="text" id="find-input-id" class="find-input-box" placeholder="Enter Your ID" required>
            <label for="find-input-email">Email</label>
            <input type="text" id="find-input-email" class="find-input-box" placeholder="Enter Your Email" required>
            <label for="find-password" id="find-password-window">▼ ▼ Check this ▼ ▼</label>
            <input type="text" id="find-password" class="find-input-box" readonly>
            <button type="button" id="find-password-button" onclick="">Find It!!</button>
        </form>

    </div>
</body>

</html>