{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="/login/stylesheets/signup.css" />
<link rel="stylesheet" href="/login/stylesheets/terms.css" />
{% endblock %} {% block content %}
<section class="signup-box">
  <img class="signup-img" src="/images/logo.png" alt="into the mountain" />
  <!-- action에 페이지 주소입력 -->
  <form
    method="POST"
    class="join-form-container"
    id="user-id"
    onsubmit="return true"
    action="/signup"
  >
    <fieldset class="join-form-field">
      <ul>
        <li>
          <label class="signup-label" for="nick">닉네임</label>
          <input
            name="nick"
            id="nick"
            class="one-input"
            type="text"
            maxlength="15"
            required
            autofocus
            pattern="[가-힣a-zA-Z]+"
          />
          <div class="nick-check check-all"></div>
        </li>
        <li class="email">
          <label class="signup-label" for="email">이메일</label>
          <input
            type="text"
            name="email"
            id="email"
            class="one-input"
            required
            pattern="[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}"
          />
          <div class="email-check check-all"></div>
        </li>
        <li>
          <!-- 비회원 로그인시 존재 -->
          <label class="signup-label" for="pwd">비밀번호</label>
          <input
            type="password"
            name="pwd"
            id="pwd"
            class="one-input"
            required
          />
          <!-- <input type="password" name="pwd" id="pwd" class="one-input" required
            pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}"> -->
          <div class="pwd-check check-all"></div>
        </li>
        <li>
          <label class="signup-label" for="pwdcheck">비밀번호 확인</label>
          <input
            type="password"
            name="pwdcheck"
            id="pwdcheck"
            class="one-input"
            required
          />
          <!-- <input type="password" name="pwdcheck" id="pwdcheck" class="one-input" required
            pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}"> -->
          <div class="pwdcheck-check check-all"></div>
        </li>
      </ul>
      <div class="profile-upload-content upload-img">
        <div class="preview">
          <img
            id="img-preview"
            class="img-preview"
            src=""
            style="display: none"
            alt="미리보기"
          />
          <input id="img-url" type="hidden" name="url" />
        </div>
      </div>
      <div class="profile-img">
        <label class="img-btn img-file" id="img-label" for="img"
          ><i class="far fa-id-badge"> 프로필 등록</i></label
        >
        <input id="img" type="file" accept="image/*" style="display: none" />
      </div>
    </fieldset>
    {% include "login/terms.html" %}
    <input class="signup-btn" type="submit" value="Sign Up" id="signUp" />
  </form>
</section>
{%include "footer.html"%} {% endblock %} {% block script %}
<script src="/login/javascripts/signupcheck.js"></script>
<script src="/login/javascripts/signup-myimg.js"></script>
<script src="/login/javascripts/terms.js"></script>
{% endblock %}
