<article class="terms-box">
  <label class="agree-text agree-top" for="agree-all">
    <input type="checkbox" name="agree-all" id="agree-all" />
    <span>모두 동의합니다</span>
  </label>
  <label class="agree-text" for="agree1">
    <input type="checkbox" name="agree" id="agree1" value="1" required />
    <span>이용약관 동의<strong> (필수)</strong></span>
  </label>
  <label class="agree-text" for="agree2">
    <input type="checkbox" name="agree" id="agree2" value="2" required />
    <span>개인정보 수집 및 이용 동의<strong> (필수)</strong></span>
  </label>
  <label class="agree-text" for="agree3">
    <input type="checkbox" name="agree" id="agree3" value="3" />
    <span
      >이벤트, 혜택정보 수신동의<strong class="select_disable">
        (선택)</strong
      ></span
    >
  </label>
</article>
